<form>
  <div class="form-title">
    <img src="{{contenido.image()}}" title="{{contenido.label}}" height="40" width="40">
    <span class="title">Editar {{contenido.label}}</span>
  </div> 
  <div class="form-group">
    <label for="titulo">Título</label>
    <input data-testid="titulo" type="text" autocomplete="off" class="form-control" id="titulo" name="titulo"
      placeholder="Título del contenido" [(ngModel)]="contenido.titulo">
  </div>
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col-sm">
      <app-collection [container]="contenido" collection="actores" type="text" description="Actores"></app-collection>
    </div>
    <div class="col-sm">
      <app-collection [container]="contenido" collection="calificaciones" type="number" description="Calificaciones">
      </app-collection>
    </div>
  </div>
  <div class="btn-group button-group">
    <button data-testid="guardar" type="button" class="btn btn-primary" (click)="guardar()">Aceptar</button>
    <button data-testid="cancelar" type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
  </div>
</form>
<br>
@for (error of contenido.errors; track error) {
  <div class="alert alert-danger animate-repeat">{{error}}</div>
}