<div class="form-group">
  <label for="text_{{collection}}">{{description}}:</label>
  <div class="input-group mb-3">
    <input data-testid="value" type="{{inputType}}" autocomplete="off" class="form-control" id="text_{{collection}}"
      placeholder="Ingrese un valor" [(ngModel)]="value">
    <button data-testid="agregar" (click)="agregar()" class="btn btn-primary">+</button>
  </div>
</div>
<br>
<div class="form-group">
  <table class="table table-responsive-sm table-hover">
    <thead class="table-secondary">
      <tr>
        <th scope="col">{{description}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (elem of elements; track { elem, i }; let i = $index) {
        <tr class="animate-repeat">
          <td [attr.data-testid]="'elem-' + i">{{elem}}</td>
          <td>
            <button (click)="eliminar(i)" class="btn btn-primary">-</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
@if (errorMessage) {
  <div class="alert alert-danger">
    {{errorMessage}}
  </div>
}