<div class="form-inline">
  <button type="button" class="btn btn-info" (click)="nuevaSerie()">Nueva serie</button>
  &nbsp;
  <button type="button" class="btn btn-secondary" (click)="nuevaPelicula()">Nueva película</button>
</div>
<br>
<table class="table table-responsive-sm table-hover">
  <thead class="table-info">
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Actores</th>
      <th scope="col">Popularidad</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contenido of contenidos" class="animate-repeat">
      <td class="titulo" scope="row" title="{{contenido.datosAdicionales()}}">
        <img src="{{contenido.image()}}" title="{{contenido.label}}">
        <a routerLink="/edit/{{contenido.type}}/{{contenido.id}}" routerLinkActive="active">
          {{contenido.titulo}}
        </a>
      </td>
      <td>{{contenido.protagonistas}}</td>
      <td>{{contenido.popularidad}}</td>
      <td>
        <button (click)="eliminar(contenido)" class="btn btn-primary">-</button>
      </td>
    </tr>
  </tbody>
</table>